Author - Disha Saxena
Date: 22/08/2021

Assumptions:
-

In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import datetime
from sklearn.cluster import KMeans
from sklearn import preprocessing
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [2]:
#Importing the function
from pandas_profiling import ProfileReport

In [3]:
## pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [4]:
# loading the data from excel file to a Pandas dataFrame
df = pd.read_csv("modeling_set.csv")

In [5]:
# shows only first 10 rows of the dataframe
df.head(10)

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,...,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade,round_winner
0,74.93,1.0,1.0,de_vertigo,False,408.0,500.0,368.0,500.0,1150.0,...,3.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,0.0,T
1,94.90,7.0,11.0,de_dust2,False,400.0,485.0,0.0,471.0,7650.0,...,5.0,0.0,5.0,0.0,0.0,0.0,4.0,0.0,0.0,T
2,34.95,2.0,5.0,de_inferno,False,399.0,400.0,488.0,352.0,4100.0,...,2.0,1.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,CT
3,4.29,0.0,4.0,de_inferno,True,265.0,400.0,100.0,373.0,7200.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,T
4,175.00,1.0,8.0,de_overpass,False,400.0,500.0,0.0,467.0,14000.0,...,5.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,T
5,158.55,10.0,9.0,de_dust2,False,500.0,500.0,500.0,300.0,8250.0,...,0.0,5.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,CT
6,54.85,0.0,3.0,de_nuke,False,226.0,100.0,279.0,100.0,700.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,CT
7,74.95,10.0,1.0,de_dust2,False,300.0,300.0,282.0,300.0,31600.0,...,1.0,1.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,T
8,170.00,3.0,4.0,de_dust2,False,500.0,500.0,433.0,0.0,29100.0,...,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,CT
9,174.92,13.0,9.0,de_train,False,500.0,500.0,196.0,0.0,42150.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT

In [6]:
# finding the number of rows and columns (dimensionality of the dataframe)
df.shape

(97928, 97)

In [7]:
# checking for missing values
df.isnull().sum()

time_left                    0
ct_score                     0
t_score                      0
map                          0
bomb_planted                 0
                            ..
ct_grenade_molotovgrenade    0
t_grenade_molotovgrenade     0
ct_grenade_decoygrenade      0
t_grenade_decoygrenade       0
round_winner                 0
Length: 97, dtype: int64

In [8]:
df.describe()

,time_left,ct_score,t_score,ct_health,t_health,ct_armor,t_armor,ct_money,t_money,ct_helmets,...,ct_grenade_flashbang,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade
count,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000,...,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000,97928.000000
mean,97.842308,6.708235,6.773844,411.997774,402.733222,314.074269,298.377032,9788.228086,11238.907156,2.051711,...,1.852198,1.855588,1.536037,1.625306,0.997202,0.019882,0.047821,1.350155,0.028051,0.025907
std,54.504858,4.782593,4.819370,132.427984,139.932895,170.926017,174.724434,11213.158514,12139.351511,1.839796,...,1.771019,1.795070,1.734589,1.830035,1.455138,0.144413,0.227247,1.663004,0.171073,0.165037
min,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,54.920000,3.000000,3.000000,349.000000,322.000000,194.000000,173.000000,1250.000000,1600.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,94.910000,6.000000,6.000000,500.000000,500.000000,377.000000,334.500000,5500.000000,7150.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,166.920000,10.000000,10.000000,500.000000,500.000000,486.000000,468.000000,14600.000000,18000.000000,4.000000,...,3.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000
max,175.000000,32.000000,33.000000,500.000000,600.000000,500.000000,500.000000,80000.000000,80000.000000,5.000000,...,7.000000,7.000000,6.000000,9.000000,5.000000,3.000000,3.000000,5.000000,3.000000,2.000000

In [9]:
profile = ProfileReport(df, title="Pandas Profiling Report", explorative=True)

In [ ]:
profile

Summarize dataset:   0%|          | 0/110 [00:00<?, ?it/s]

In [ ]:
##df.profile_report()
##profile.to_widgets()

In [ ]:
label_encoder = preprocessing.LabelEncoder() 
df['map'] = label_encoder.fit_transform(df['map'])

In [ ]:
df['bomb_planted'] = label_encoder.fit_transform(df['bomb_planted'])

In [ ]:
df['round_winner'] = label_encoder.fit_transform(df['round_winner'])

In [ ]:
df.head(10)

In [ ]:
df.corr()